In [1]:
!pip install meteostat
!pip install geocoder
!pip install geopy

Collecting meteostat
  Downloading meteostat-1.5.10.tar.gz (16 kB)
Requirement already satisfied: pandas>=1.1 in /usr/local/lib/python3.7/dist-packages (from meteostat) (1.1.5)
Requirement already satisfied: pytz in /usr/local/lib/python3.7/dist-packages (from meteostat) (2018.9)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from meteostat) (1.19.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=1.1->meteostat) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=1.1->meteostat) (1.15.0)
Building wheels for collected packages: meteostat
  Building wheel for meteostat (setup.py) ... done
  Created wheel for meteostat: filename=meteostat-1.5.10-py3-none-any.whl size=29174 sha256=15673b060c03e5269cdc8b7d105661e5cdb6ab696cbea0389bd5553b472914a3
  Stored in directory: /root/.cache/pip/wheels/c7/4e/10/6cd64c2c65bddd4c84d161e702ad98f3fc41b4c45ec7da6065
Successfully built meteostat
Installing collected packages: meteostat
Successfully installed meteostat-1.5.10
Collecting geocoder
  Downloading geocoder-1.38.1-py2.py3-none-any.whl (98 kB)
     |████████████████████████████████| 98 kB 4.6 MB/s
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from geocoder) (1.15.0)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from geocoder) (2.23.0)
Requirement already satisfied: future in /usr/local/lib/python3.7/dist-packages (from geocoder) (0.16.0)
Requirement already satisfied: click in /usr/local/lib/python3.7/dist-packages (from geocoder) (7.1.2)
Collecting ratelim
  Downloading ratelim-0.1.6-py2.py3-none-any.whl (4.0 kB)
Requirement already satisfied: decorator in /usr/local/lib/python3.7/dist-packages (from ratelim->geocoder) (4.4.2)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->geocoder) (2021.10.8)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->geocoder) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->geocoder) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->geocoder) (3.0.4)
Installing collected packages: ratelim, geocoder
Successfully installed geocoder-1.38.1 ratelim-0.1.6
Requirement already satisfied: geopy in /usr/local/lib/python3.7/dist-packages (1.17.0)
Requirement already satisfied: geographiclib<2,>=1.49 in /usr/local/lib/python3.7/dist-packages (from geopy) (1.52)

In [2]:
import pandas as pd
import json
import ast
import geocoder
from geopy.geocoders import Nominatim
from datetime import datetime
import matplotlib.pyplot as plt
from meteostat import Point, Hourly, Daily, Monthly

In [3]:
# Acceso a gdrive para datos
from google.colab import drive
drive.mount('/content/drive')

path = "/content/drive/My Drive/ProyectoAI/datasets/"

Mounted at /content/drive

In [4]:
dfconsumption = pd.read_csv(path + "/consumptions_small.csv", sep=';')
dfcups = pd.read_csv(path + "/cups_info_small.csv", sep=';')

In [5]:
# Normalizamos los datos de consumo
dfconsumption.consumption = dfconsumption.consumption.apply(lambda x: ast.literal_eval(x.replace("{", "(").replace("}", ")")))
dfconsumption['total_consumption'] = dfconsumption.consumption.apply(lambda x: sum(x))

In [6]:
dfconsumption.head()

          day     consumption consumption_type     id  total_consumption
0  2019-12-01   (1.139, 2.04)    {TELEM,TELEM}  39653              3.179
1  2019-12-02  (1.163, 2.328)    {TELEM,TELEM}  39653              3.491
2  2019-12-03  (0.873, 2.578)    {TELEM,TELEM}  39653              3.451
3  2019-12-04  (0.997, 3.089)    {TELEM,TELEM}  39653              4.086
4  2019-12-05  (1.818, 3.694)    {TELEM,TELEM}  39653              5.512

In [7]:
dfcups.head()

      id    atr        power  zipcode  locality  ekon_start
0  39653  2.0TD  {4600,4600}    28052       NaN  2021-09-01

In [8]:
# Hacemos join con los datos de las dos tablas
dfmerged = pd.merge(left=dfconsumption, right=dfcups, left_on='id', right_on='id')
dfmerged.head()

          day     consumption consumption_type  ...  zipcode  locality  ekon_start
0  2019-12-01   (1.139, 2.04)    {TELEM,TELEM}  ...    28052       NaN  2021-09-01
1  2019-12-02  (1.163, 2.328)    {TELEM,TELEM}  ...    28052       NaN  2021-09-01
2  2019-12-03  (0.873, 2.578)    {TELEM,TELEM}  ...    28052       NaN  2021-09-01
3  2019-12-04  (0.997, 3.089)    {TELEM,TELEM}  ...    28052       NaN  2021-09-01
4  2019-12-05  (1.818, 3.694)    {TELEM,TELEM}  ...    28052       NaN  2021-09-01

[5 rows x 10 columns]

In [9]:
# Necesitamos encontrar todos los diferentes zipcode del dataset y con sus fechas mínimas y máximas para la obtención de datos meteorológicos
df_zipcodes = dfmerged.groupby('zipcode').agg({'day': ['min', 'max']})
display(df_zipcodes.head())
df_zipcodes.info()

                day
                min         max
zipcode
28052    2019-12-01  2021-05-31

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1 entries, 28052 to 28052
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   (day, min)  1 non-null      object
 1   (day, max)  1 non-null      object
dtypes: object(2)
memory usage: 24.0+ bytes

In [10]:
# Recorremos todos los zipcode y poblamos un nuevo dataset con zipcode, fechas y datos meteorológicos diarios
geolocator = Nominatim(user_agent='test')
df = pd.DataFrame(columns=['time', 'tavg', 'tmin', 'tmax', 'prcp', 'snow', 'wdir', 'wspd', 'wpgt', 'pres', 'tsun', 'zipcode'])
for index, x in df_zipcodes.iterrows():
  location = geolocator.geocode(str(x.name) + ", Spain")
  point = Point(location.latitude, location.longitude)
  data = Daily(point, pd.to_datetime(x.day.min()), pd.to_datetime(x.day.max()))
  data = data.fetch()
  # Obtenemos los datos de luz diaria con los datos mensuales
  dataMonth = Monthly(point, pd.to_datetime(x.day.min()), pd.to_datetime(x.day.max()))
  dataMonth = dataMonth.fetch()
  dataMonth = dataMonth.reset_index()
  # data.plot(y=['tavg', 'tmin', 'tmax'])
  data['zipcode'] = x.name
  data = data.reset_index()
  data['month'] = pd.to_datetime(data.time).dt.month
  data['year'] = pd.to_datetime(data.time).dt.year
  dataMonth['month'] = pd.to_datetime(dataMonth.time).dt.month
  dataMonth['year'] = pd.to_datetime(dataMonth.time).dt.year
  data = pd.merge(
    data, 
    dataMonth[['tsun', 'month', 'year']], 
    on=['month', 'year'],
    how='left')
  data['tsun'] = data['tsun_y']/30
  data = data.drop(['month', 'year', 'tsun_x', 'tsun_y'], axis = 1)
  df = df.append(data)
  print(pd.to_datetime(x.day.min()))
  print(pd.to_datetime(x.day.max()))
  print(location.address)
df_zipcodes.head()

# Los datos ya estarían listos para hacer join por el zipcode con los datos del consumer

2019-12-01 00:00:00
2021-05-31 00:00:00
Puente de Vallecas, Madrid, Área metropolitana de Madrid y Corredor del Henares, Comunidad de Madrid, 28052, España

                day
                min         max
zipcode
28052    2019-12-01  2021-05-31

In [11]:
# Tenemos que transformar el valor object a datetime
dfmerged['day'] =  pd.to_datetime(dfmerged['day'])
# Unimos las dos tablas a través del zipcode y la fecha
dfmerged = pd.merge(left=dfmerged, right=df, left_on=['zipcode', 'day'], right_on=['zipcode', 'time'], how='left')
dfmerged.head()

         day     consumption consumption_type     id  ...  wspd wpgt    pres   tsun
0 2019-12-01   (1.139, 2.04)    {TELEM,TELEM}  39653  ...   7.8  NaN  1013.1  276.0
1 2019-12-02  (1.163, 2.328)    {TELEM,TELEM}  39653  ...  15.5  NaN  1016.1  276.0
2 2019-12-03  (0.873, 2.578)    {TELEM,TELEM}  39653  ...  10.7  NaN  1015.6  276.0
3 2019-12-04  (0.997, 3.089)    {TELEM,TELEM}  39653  ...  10.6  NaN  1011.5  276.0
4 2019-12-05  (1.818, 3.694)    {TELEM,TELEM}  39653  ...  12.0  NaN  1017.6  276.0

[5 rows x 21 columns]